[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = vicentegonzalez@ug.uchile.cl
	name = Vicente González
[core]
	autocrlf = input
[pull]
	rebase = false
[safe]
	directory = run/media/vgonzalez/Dev
	directory = /run/media/vgonzalez/Dev
	directory = /run/media/vgonzalez/Dev/Universidad/Trabajo de Tesis I/3D-GPolylla
	directory = /run/media/vgonzalez/Dev/*
	directory = *
